*{
    margin: 0;
    font-family: "Jacques Francois", serif;
}

header {
    position: sticky;
    padding: 0px 50px;
    background-color: #ececd5;
    display: flex;
    flex-direction: row;
    top: 0;
    justify-content: space-between;
    align-items: center;
    z-index: 1;
  }
  .logo-container {
    display: flex;
    align-items: center;
  }
  .brand {
    font-family: "Lobster Two", cursive;
    font-size: 27px;
  }
  .logo-img {
    width: 49px;
    height: 49px;
  }
  .navbar-menu {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }

  #active {
    font-size: 20px;
    color: #000000;
  }
  .menu {
    padding: 0 30px;
    font-size: 15px;
    color: #00000079;
    text-decoration: none;
  }
  .menu:hover {
    color: #000000;
  }

  body {
    background-color: #f1f0e9;
  }

  .main{
      display: flex;
      flex-direction: column;
      align-items: center;
  }

  .title{
    font-size: 27px;
    padding-top: 50px;
  }

  .working-container{
      padding-top: 140px;
      padding-bottom: 140px;
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      align-items: center;
  }

  .working-time{
      font-size: 24px;
  }

  .working-title{
      font-size: 32px;
  }

  .kotak-hitam-tipis{
      width: 100%;
      background-color: black;
      height: 1px;
    }

.store-container img{
    width: 541px;
    height: 359.53px;
}

.store-title{
    font-size: 32px;
    text-align: center;
}

.address{
    font-size: 20px;
}

.store-container{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding-top: 120px;
    padding-bottom: 120px;
}

.customer-title{
    font-size: 32px;
}

.desc{
    font-size: 22px;
    padding-left: 65px;
}

.customer-service img{
    width: 128px;
    height: 143.85px;
    align-self: center;
}

.kontaks img{
    width: 52px;
    height: 52px;
}

.kontaks{
    display: flex;
    align-items: center;
}

.customer-service{
    display: flex;
    flex-direction: column;
}

.contacts{
    height: 540px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.contact-container{
    padding-top: 70px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

footer {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 90px;
    background-color: #ececd5;
    padding: 30px;
  }