* {
  margin: 0;
  font-family: "Jacques Francois", serif;
}
header {
  position: sticky;
  padding: 0px 50px;
  background-color: #ececd5;
  display: flex;
  flex-direction: row;
  top: 0;
  justify-content: space-between;
  align-items: center;
}
.logo-container {
  display: flex;
  align-items: center;
}
.brand {
  font-family: "Lobster Two", cursive;
  font-size: 27px;
}
.logo-img {
  width: 49px;
  height: 49px;
}
.navbar-menu {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
#active {
  font-size: 20px;
  color: #000000;
}
.menu {
  padding: 0 30px;
  font-size: 15px;
  color: #00000079;
}
.menu:hover {
  color: #000000;
}
body {
  background-color: #f1f0e9;
}
.main {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.welcome-txt {
  font-size: 27px;
  padding: 30px;
}
.box1-container {
  margin: 0;
  background-color: #c7c4a8;
  width: 100%;
  height: 443px;
  display: flex;
  align-items: center;
}
.Promotion-container {
  width: 50%;
  height: 100%;
}
.Promotion {
  width: 100%;
  height: 100%;
}
.Categories-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
  height: 100%;
}
.Categories-box {
  width: 100%;
  height: 50%;
  display: flex;
  flex-direction: row;
}
.categories {
  width: 50%;
  height: 100%;
}
.categories-img {
  width: 100%;
  height: 100%;
}
.box2-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}
.brand-container-out {
  background-color: #737160;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 20%;
}
.brand-container-in {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.name {
  padding: 25px;
  font-size: 27px;
  background-color: #737160;
}
.logo-img-container {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
}
.seagull {
  width: 250px;
  height: 300px;
}
.Gibson {
  width: 250px;
  height: 300px;
}
.brand-img {
  width: 400px;
}
footer {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 90px;
  background-color: #ececd5;
  padding: 30px;
}
