* {
  margin: 0;
  font-family: "Jacques Francois", serif;
}
header {
  position: sticky;
  padding: 0px 50px;
  background-color: #ececd5;
  display: flex;
  flex-direction: row;
  top: 0;
  justify-content: space-between;
  align-items: center;
  z-index: 1;
}
.logo-container {
  display: flex;
  align-items: center;
}
.brand {
  font-family: "Lobster Two", cursive;
  font-size: 27px;
}
.logo-img {
  width: 49px;
  height: 49px;
}
.navbar-menu {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
#active {
  font-size: 20px;
  color: #000000;
}
.menu {
  padding: 0 30px;
  font-size: 15px;
  color: #00000079;
  text-decoration: none;
}
.menu:hover {
  color: #000000;
}
body {
  background-color: #f1f0e9;
}
.main {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.welcome-txt {
  font-size: 27px;
  padding: 30px;
}
.box1-container {
  margin: 0;
  background-color: #c7c4a872;
  width: 100%;
  height: 443px;
  display: flex;
  align-items: center;
}
.Promotion-container {
  width: 50%;
  height: 100%;
}
.Promotion {
  width: 100%;
  opacity: 80%;
  height: 100%;
}
.Categories-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
  height: 100%;
}
.Categories-box {
  width: 100%;
  height: 50%;
  display: flex;
  flex-direction: row;
}
.categories {
  width: 50%;
  height: 100%;
}
/* .categories-img {
  width: 100%;
  height: 100%;
} */
.categories-img {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  transition: 0.4s;
}
.acoustic {
  background-image: url(../Img/Main/acoustic.png);
  transition: 0.4s;
}
.acoustic:hover {
  background-image: url(../Img/Main/acoustic\ description.png);
}
.classic {
  background-image: url(../Img/Main/classic.png);
  transition: 0.4s;
}
.classic:hover {
  background-image: url(../Img/Main/classic\ description.png);
}
.electric {
  background-image: url(../Img/Main/electric.png);
  transition: 0.4s;
}
.electric:hover {
  background-image: url(../Img/Main/electric\ description.png);
}
.bass {
  background-image: url(../Img/Main/bass.png);
  transition: 0.4s;
}
.bass:hover {
  background-image: url(../Img/Main/bass\ description.png);
}

.box2-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}
.brand-container-out {
  background-color: #737160;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 20%;
  transition: 0.4s;
}
.brand-container-out:hover {
  transform: scale(1.1);
}
.brand-container-in {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.name {
  padding: 25px 0px;
  font-size: 27px;
  background-color: #737160;
  height: 100%;
  width: 100%;
  text-align: center;
  color: white;
}
.logo-img-container {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.742);
}
.seagull {
  width: 250px;
  height: 300px;
}
.Gibson img {
  width: 100%;
  height: 300px;
}
.brand-img {
  width: 400px;
  opacity: 75%;
}
footer {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 90px;
  background-color: #ececd5;
  padding: 30px;
}

@media screen and (max-width: 430px) {
  /* navbar */
  header {
    width: 414;
    background-color: #ececd5;
    padding: 10px;
    display: flex;
    flex-direction: column;
  }
  .logo-container {
    position: relative;
    padding: 0px 0px;
  }
  .navbar-menu {
    width: 414px;
  }
  .menu {
    padding: 0 10px;
    font-size: 12px;
    color: #00000079;
    text-decoration: none;
  }
  #active {
    font-size: 15px;
    color: #000000;
  }
  /* navbar-end */

  .box1-container {
    display: flex;
    flex-direction: column;
  }
  .Promotion-container {
    width: 100%;
  }
  .Categories-container {
    width: 100%;
  }
  .box2-container {
    flex-direction: column;
  }
  .brand-container-out {
    width: 55%;
    height: 300px;
    margin: 30px 0px;
  }
  .brand-img {
    width: 100%;
    height: 100%;
  }
  .logo-img-container {
    height: 200px;
  }
  .Yamaha {
    width: 250px;
  }
  .Gibson img {
    transform: scale(0.8);
  }
  .seagull {
    width: 250px;
  }
  footer {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 90px;
    background-color: #ececd5;
    padding: 30px;
  }
}
