*{
    margin: 0;
    font-family: "Jacques Francois", serif;
}

header {
    position: sticky;
    padding: 0px 50px;
    background-color: #ececd5;
    display: flex;
    flex-direction: row;
    top: 0;
    justify-content: space-between;
    align-items: center;
    z-index: 1;
  }
  .logo-container {
    display: flex;
    align-items: center;
  }
  .brand {
    font-family: "Lobster Two", cursive;
    font-size: 27px;
  }
  .logo-img {
    width: 49px;
    height: 49px;
  }
  .navbar-menu {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }

  #active {
    font-size: 20px;
    color: #000000;
  }
  .menu {
    padding: 0 30px;
    font-size: 15px;
    color: #00000079;
    text-decoration: none;
  }
  .menu:hover {
    color: #000000;
  }

  body {
    background-color: #f1f0e9;
  }

.title{
  font-size: 27px;
  padding-top: 50px;
  text-align: center;
}

.section{
    padding-top: 60px;
    padding-bottom: 100px;
}

.section-title{
    padding-left: 120px;
    font-size: 25px;
}

.dy-dx img{
    padding-top: 20px;
    width: 249.6px;
    height: 342px;
    align-self: center;
}

.apex img{
    padding-top: 20px;
    width: 249.6px;
    height: 342px;
    align-self: center;
}

.trans img{
    padding-top: 20px;
    width: 249.6px;
    height: 362px;
    align-self: center;
    padding-bottom: 35px;
}

.guitar-name{
    font-size: 24px;
}

.guitar-type{
    font-size: 18px;
}

.price{
    font-size: 18px;
}

.nominal{
    position: relative;
    top: -10px;
    left: 70px;
    font-size: 18px;
}

.card{
    width: 339px;
    height: 638px;
    background-color: #E3E3CE;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    transition: 0.3s ease-in-out;
}

.card:hover{
  transform: scale(1.1);
}

button{
    background-color: #CBCBB9;
    border-style: none;
    position: relative;
    top: -10px;
    left: 160px;
    width: 117px;
    height: 42px;
    font-size: 20px;
    transition: 0.3s;
}

button:hover{
    cursor: pointer;
    background-color: #91918a;
    color: white;
}

.sub-card{
    position: relative;
    top: -10px;
    padding-left: 30px;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-evenly;
}

.card-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.mx img{
    height: 342px;
    padding-top: 10px;
}

.atlantica img{
    height: 342px;
    width: 182.58px; 
    align-self: center;
    padding-top: 10px;
}

.electrica img{
    height: 342px;
    align-self: center;
    padding-top: 10px;
}

.allstar img{
    height: 342px;
    align-self: center;
    padding-top: 10px;
}

footer {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 90px;
    background-color: #ececd5;
    padding: 30px;
  }

  .section-end{
    padding-top: 60px;
    padding-bottom: 50px;
}